@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-sortium: #1982e6;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:visited {
  color: var(--color-black);
}

/* button */
button {
  border: transparent;
  padding: 1em 1rem;
  border-radius: 1rem;
}

.btn--primary {
  background-color: var(--color-sortium);
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}

.btn--primary:hover {
  background-color: var(--color-white);
  color: var(--color-sortium);
}