.header {
  background-color: var(--color-gray);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.menu ul {
  display: flex;
  gap: 1em;
}

.menu a {
  color: var(--color-black);
}

/* main */
main .main__header {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

main .main__header div:nth-child(1) {
  width: 60%;
}

main .main__header .title {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 6rem;
}

@media (max-width: 640px) {
  .nav--desktop {
    display: none;
  }

  main .main__header {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  main .main__header div:nth-child(2) {
    display: none;
  }
}